{% extends "snips/base.html" %}
{% block body %}
<h2 style="text-align:center;">Gallery</h2>
<div class ="row">
    <label for="name">Name:</label>
        <p id="name">{{user.name}}</p>
</div>
<div class ="row">
    <label for="address">Address:</label>
        <p id="address">{{user.street_address}}</p>
</div>
<div class ="row">
    <label for="email">Email:</label>
        <p id="email">{{user.email}}</p>
</div>
<div class="row">
    <label for="phone">Phone:</label>
        <p id="phone">{{user.phone_number}}</p>
</div>
<div class="row">
    <label for="website">Personal Website</label>
    <p id="website">{{user.website}}</p>
</div>
<div class="row">
    <label for="cv">CV:</label>
</div>
<div class="row">
    <label for="statement">Artist Statement:</label>
</div>

<h3>Images:</h3>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

<div class="scrollgallery">
    {% for 
</div>
{% endblock %}
