{% extends "snips/base.html" %}
{% block body %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/all_galleries.css') }}">

    <div class="container">
      <a href='/gallery/add' >
        <button type="button" class="btn btn-primary pull-right" >Create</button>
      </a>
    </div>

    <h2 class="text-center">Galleries</h2>

        <div class ="container">
            <table id="gallery" class= "table table-bordered">
            <thead>
                    <tr>
                       <th>Galleries</th>
                        <th>Submissions</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
            </thead>
            <tbody>
               {%for gallery in galleries %}
                   <tr>
                       <td>
                         <a href='/gallery/view/{{gallery.gid}}'>{{gallery.title}}</a>
                       </td>
                       <td>
                           {{gallery.count}}
                       </td>
                       <td>
                           <b>{{status[gallery.title]}}</b>
                       </td>
                       <td>
                         <a href="/gallery/edit/{{gallery.gid}}"> <span class="glyphicon glyphicon-edit"></span></a>
                       </td>
                   </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

<script type="text/javascript" src="/static/js/local/all_galleries.js"></script>

{% endblock %}
