{% extends "snips/base.html" %} {% block body %}
<div id="reviewApplication">
  <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-8 col-md-push-2 col-lg-10 col-lg-push-1" id="">
    <h1 class="text-center"><strong>{{form.first_name}} {{form.last_name}}</strong></h1>
    <h4 class="text-center"><strong>{{form.gallery.title}}</strong></h1>
    </br>

    <div>
      <label for = "address">Address:</label>
      <input value = "{{form.street_address}}" readonly class = "form-control">
      </br>

      {%if form.second_address != "" %}
        <label for = "address">Second Address:</label>
        <input value = "{{form.second_address}}" readonly class = "form-control">
        </br>
      {%endif%}

      <label>City:</label>
      <input value = "{{form.city}}" readonly class = "form-control">
      </br>

      <label>State:</label>
      <input value = "{{form.state}}" readonly class = "form-control">
      </br>

      <label>Zipcode:</label>
      <input value = "{{form.zip_code}}" readonly class = "form-control">
    </div>

    </br>

    <div>
        <label for = "email">Email:</label>
        <input value = "{{form.email}}" readonly class = "form-control">
    </div>
    
    </br>
    {% if form.phone_number != "" %}
      <div>
          <label for = "phone">Phone</label>
          <input value = "{{form.phone_number}}" readonly class = "form-control">
      </div>
      </br>
    {%endif%}

    {% if form.website != "" %}
      <div>
          <label for = "website">Personal Website:</label>
          <input value = "{{form.website}}" readonly class = "form-control">
      </div>
      </br>
    {% endif %}

    {% if form.cv is not none %}
     <div>
       <a href="download/cv/" class="btn btn-primary" role="button">Link Button</a>
    </div>
    </br>
    {% endif %}

    <div>
      <a href="/download/statement/" class="btn btn-primary" role="button">Link Button</a>
    </div>

    </br>
    <h2> Images </h2>
    <div class="row">
      {% for image in images %}
        {% if loop.index % 3 == 0 %}
          <div class="row">
        {% endif %}
            <div class="col-md-4">
              <a href="#" onclick="enlarge_image(this)" data-img="{{image.fullsize.filepath}}">
                <div class="thumbnail">
                    <img src="{{image.thumbnail.filepath}}" alt="{{image.thumbnail.filepath}}" >
                </div>
              </a>

            </div>

        {% if loop.index % 3 == 0 %} </div >
        {% endif %}
      {% endfor %}
    </div> 
  </div>
</div>

<div class="modal fade" id="expand_image_modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center">Image by: {{form.first_name}} {{form.last_name}}</h4>
      </div>
      <div class="modal-body">
        <img class="center-block img-responsive" src="" id="imagepreview">
      </div>
      <div class="modal-footer">
        <a id="modal_download" href="link" class="btn btn-success" download>Download Image</a>
      </div>
    </div>
  </div>
</div>

<script>

function enlarge_image(element){

   $('#imagepreview').attr('src', $(element).data()['img']); // here asign the image to the modal when the user click the enlarge link
   $('#modal_download').attr('href', $(element).data()['img']); // here asign the image to the modal when the user click the enlarge link
   $('#expand_image_modal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
}


</script>

{% endblock %}
