{% extends "snips/base.html" %} {% block body %} <div id="reviewApplication">
  <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-8 col-md-push-2 col-lg-10 col-lg-push-1" id="">
    <h1 class="text-center"><strong>{{form.first_name}} {{form.last_name}}</strong></h1>
    </br>

    <div>
      <label for = "address">Address:</label>
      <input value = "{{form.street_address}}" readonly class = "form-control">
      </br>

      {%if form.second_address != "" %}
        <label for = "address">Second Address:</label>
        <input value = "{{form.second_address}}" readonly class = "form-control"> </br>
      {%endif%}

      <label>City:</label>
      <input value = "{{form.city}}" readonly class = "form-control">
      </br>

      <label>State:</label>
      <input value = "{{form.state}}" readonly class = "form-control">
      </br>

      <label>Zipcode:</label>
      <input value = "{{form.zip_code}}" readonly class = "form-control">
    </div>

    </br>

    <div>
        <label for = "email">Email:</label>
        <input value = "{{form.email}}" readonly class = "form-control">
    </div>
    
    </br>
    {% if form.phone_number != "" %}
      <div>
          <label for = "phone">Phone</label>
          <input value = "{{form.phone_number}}" readonly class = "form-control">
      </div>
      </br>
    {%endif%}

    {% if form.website != "" %}
      <div>
          <label for = "website">Personal Website:</label>
          <input value = "{{form.website}}" readonly class = "form-control">
      </div>
      </br>
    {% endif %}

    <div>
      <a href="/download/statement/" class="btn btn-info" role="button">
        <i class="glyphicon glyphicon-download-alt">&nbsp</i>
        Artist Statement 
      </a>
    </div>
    </br>

    {% if form.cv is not none %}
     <div>
       <a href="/download/cv/" class="btn btn-info" role="button">
         <i class="glyphicon glyphicon-download-alt">&nbsp</i>
         CV 
       </a>
    </div>
    </br>
    {% endif %}


    {% if files is not none %}
      <h2> Files </h2>
      <div class="row">
        {% for file in files %}
          {% if loop.index % 3 == 0 %}
            <div class="row">
          {% endif %}
              <div class="col-md-4">
                {% if file.file.filetype in allowed_extensions and file.file.filetype not in document_extensions%}
                  <a href="#/" onclick="enlarge_image(this)" data-img="{{file.file.filepath}}">
                    <div class="thumbnail">
                        <img class="img-thumbnail" src="{{file.file.filepath}}" alt="{{file.file.filename}}" >
                        <p class = "text-center"> {{file.file.filename}}
                    </div>
                {% elif file.file.filetype in allowed_extensions and file.file.filetype in document_extensions %}
                <a href="{{file.file.filepath}}" >
                    <div class="thumbnail">
                        <img class="img-thumbnail" src="/static/images/document_icon.svg" alt="{{file.file.filename}}" >
                        <p class = "text-center"> {{file.file.filename}}
                    </div>
                {% endif %}
                </a>

              </div>

          {% if loop.index % 3 == 0 %} </div >
          {% endif %}
        {% endfor %}
    </div> 
  {% endif%}
  {% if is_admin %}
    {% if show_previous%}
      <a href="/view/previous" class="pull-left btn btn-primary" role="button">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Previous Submission
      </a>
    {%endif%}

    {% if show_next%}
      <a href="/view/next" class="pull-right btn btn-primary" role="button">
        Next Submission
        <i class="glyphicon glyphicon-arrow-right"></i>
      </a>
    {%endif%}
  {% else %}
      <a href="/withdraw" class="pull-left btn btn-danger" role="button">
	Withdraw Application
      </a>
  {%endif%}
  </div>
</div>

<div class="modal fade" id="expand_image_modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center">{{form.first_name}} {{form.last_name}}</h4>
      </div>
      <div class="modal-body">
        <img class="center-block img-responsive" src="" id="imagepreview">
      </div>
      <div class="modal-footer">
        <a id="modal_download" href="link" class="btn btn-info" download>
          <i class="glyphicon glyphicon-download-alt">&nbsp</i>
          Download Image 
        </a>
      </div>
    </div>
  </div>
</div>

<script>

function enlarge_image(element){

   $('#imagepreview').attr('src', $(element).data()['img']); // here asign the image to the modal when the user click the enlarge link
   $('#modal_download').attr('href', $(element).data()['img']); // here asign the image to the modal when the user click the enlarge link
   $('#expand_image_modal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
}

</script>

{% endblock %}
