{% extends "snips/base.html" %}
{% block body %}
<br/>
<div class="alert alert-danger alert-dismissible" id="message" role="alert" hidden>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	<p id="message_text"> You should not see me </p>
</div>
<br/>
<div id="createApplication">
    <div class="col-sm-offset-1
                col-sm-10"
         id="">
    <h1 class="text-center"><strong>{{gallery.title}} - Application </strong></h1>
      {{description|safe}}
    <input type = "text" value = "{{gid}}" type = "hidden" id = "gallery_id" hidden>
    <form class = "form-group" method = "POST" id = "createApplicationForm" action = "/submit/" enctype="multipart/form-data">

        <div>
            <label for = "firstName">First Name</label>
            <input placeholder = "First" type = "text" id = "name" name = "firstName" class = "form-control" required>
            </br>
            <label for = "lastName">Last Name</label>
            <input placeholder = "Last" type = "text"  name = "lastName" class = "form-control" required>

        </div>
        </br>
        <div>
            <label for = "streetAddress">Street Address</label>
            <input placeholder = "Street Address" type = "text" id = "address" name = "streetAddress" class = "form-control"required>
            </br>
            <label for = "addressLine2">Address Line 2</label>
            <input placeholder = "Address Line 2" type = "text" id = "address_line_2" name = "addressLine2" class = "form-control">
            </br>
            <label for = "city">City</label>
            <input placeholder = "City" type = "text" id = "city" name = "city" class = "form-control" required>
            </br>
            <label for = "stateProvinceRegion">State/Province/Region</label>
            <input placeholder = "State/Province/Region" type = "text" id = "stateProvinceRegion" name = "stateProvinceRegion" class = "form-control" required>
            </br>
            <label for = "zipPostalCode">Zip/Postal Code*</label>
            <input placeholder = "Zip/Postal Code" type = "text"  pattern="[0-9]{5}" id = "" name = "zipPostalCode" class = "form-control"required>

        </div>
        </br>
        <div>
            <label for = "email">Email*</label>
            <input placeholder = "example@example.com" type = "email" id = "email" name = "email" class = "form-control"required>
        </div>
        </br>
        <div>
            <label for = "phone">Phone</label>
            <input placeholder = "1234567890" type = "digits" id = "phone" name = "phone" class = "form-control">
        </div>
        </br>
        <div>
            <label for = "website">Personal Website</label>
            <input placeholder = "http://berea.edu" type = "url" id = "website" name = "website" class = "form-control">
        </div>
        </br>
         <div>
            <label for = "cv">CV</label>
            <input id = "cv" name = "cv" type = "file" accept=".doc,.docx,.pdf, .txt">
        </div>
        </br>
        <div>
            <label for = "statement">Personal Statement</label>
            <input id = "statement" name = "statement" type = "file" accept=".doc,.docx,.pdf, .txt" required>
        </div>
        </br>
    </form>

    <form class="dropzone" id="fileDropZone" action = "/upload/images/" hidden>
      <div class="box"></div>
    </form>
    <div>
        <button onclick="submitforms()" class = "btn btn-primary pull-right" id="next">Next</button>
        <a href="/success/" class = "btn btn-primary pull-right" id="submit" style="display: none;">Submit</a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/local/imageUpload.js"></script>


{% endblock %}
