{% extends "snips/base.html" %}
{% block body %}
<div class="container">

    <div class="jumbotron">
      <h1 class="text-center">{{project_name}}</h1>
      <p> {{project_description}}</p>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Galleries</h3>
        </div>
    </div>
    {% for gallery in galleries %}
      {% if loop.index is divisibleby(3) %}
        <div class="row text-center">
      {% endif %}
          <div class="col-md-3 col-sm-6 ">
              <div class="thumbnail">
                  <img src="http://placehold.it/800x500" alt="">
                  <div class="caption">
                    <h3>{{gallery.title}}</h3>
                    <p class="text-snippet">{{bleach.clean(gallery.description) | safe}}</p>
                      <p>
                          <a href="#" class="btn btn-primary">Apply!</a>
                      </p>
                  </div>
              </div>
          </div>
      {% if loop.index is divisibleby(3) %}
        </div>
      {% endif %}
    {% endfor %}
</div>
{% endblock %}
