<link rel="stylesheet" href="/static/css/ext/progress_tracker.css">
<div class="center">
  <ul class="nav nav-wizard">
    <li {%if step == 1 %} class = "active" {% endif %} ><span class="badge badge-step">1</span> Personal Information</li>
    <li {%if step == 2 %} class = "active" {% endif %} ><span class="badge badge-step">2</span> CV</li>
    <li {%if step == 3 %} class = "active" {% endif %} ><span class="badge badge-step">3</span> Artist Statement</li>
    <li {%if step == 4 %} class = "active" {% endif %} ><span class="badge badge-step">4</span> Images</li>
  </ul>
</div>


